.container{
    width: 100vw;
    height: 100vh;
    background: gray;
}
.content{
    width: 20rem;
    height: 30rem;
    background: #fff;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}


